p{
    color: #F3F4F6;
    text-transform: uppercase;
    font-weight: 400;
    font-family: sans-serif;  
    margin: 0px;
}
#daftar-siswa{
    background-color: gray
}
#daftar-siswa p:hover{
    color: #111827;
    background-color: white
}
.siswa{
    padding: 15px 10px;
}
p.hover{
    color: #111827;
}