.berprestasi{
    background-color: #60A5FA;
}
.remed{
    background-color: #F87171;
}
#daftar-siswa{
    background-color: gainsboro;
}
#daftar-siswa p:hover{
    background-color:#E5E7EB;

}